* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}

body {
    background:rgb(33, 33, 33);
}

.app-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.app {
    position: relative;
    width: 1000px;
    height: 800px;
    border: 2px solid black;
    overflow: hidden;
    background: #4caf50;
}

img {
    height: 200px;
}

/* NAVBAR STUFF */
.navbar{
    position: absolute;
    display: flex;
    justify-content: space-around;
    background: rgba(63, 63, 63, 0.3);
    width: 1000px;
    height: 100px;
}


/* Wrapper for each icon in the navbar */
.nav-icon{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    width: 150px;
    background: rgba(0, 0, 0, 0.1);
}

/* General wrapper for placing modals in the center */
.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100%;
}
.play-modes-container {
    display: flex;
    align-items: center;
    place-items: center;
}
.play-mode {
    display: flex;
    width: 200px;
    height: 170px;
    margin: 30px;
    border: 2px solid black;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
}

.game-mode-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 700px;
    height:500px;
    border: 2px solid black;
    background: rgba(63, 63, 63, 0.3);
    position: absolute;
    z-index: 10;
    border-radius: 10px;
}

/* Selecting a game from the menu */
.games{
    display: flex;
}

/* Each game as its displayed in the games menu */
.game-icon{
    width: 200px;
    height: 180px;
    margin: 10px;
    border: 2px solid black;
    border-radius: 10px;
}

.game-wrapper {
    position: absolute;
    width: 1000px;
    height: 800px;
    top: 0;
    background: red;
    z-index: 100;
}

/* Each player / dealers hand of cards */
.hand {
    display: flex;
    flex-direction: row;
}

/* LEVEL ICON */
.level-icon{
    font-size: 62px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.level-icon h1 {
    position: absolute;
    top: 17px;
    left: 26px;
    font-size: 32px;
}
.level-changing {
    color: yellow;
    text-shadow: 0px 0px 15px #FFFFFF;
    transition: all 1000ms ease-in-out;
}
.level-changed {
    color: white;
    transition: all 1000ms ease-in-out;
}

.level-progress-wrapper {
    position: absolute;
    left: -12px;
    bottom: -10px;
    width: 100px;
    height: 8px;
    background: #f44336;
    border-radius: 10px;
    overflow: hidden;
    border: 1px solid black;
}
.level-progress-wrapper-not-nav {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 100px;
    height: 8px;
    background: #f44336;
    border-radius: 10px;
    overflow: hidden;
    border: 1px solid black;
}

.level-progress{
    position: absolute;
    border-radius: 0px 10px 10px 0px;
    height: 6px;
    background: rgb(255,255,255);
background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(81,177,85,1) 65%, rgba(76,175,80,1) 100%);
}

.completed-level {
    text-decoration: line-through;
}
.current-level{
    text-shadow: 0px 0px 6px #ffff91;

}

/* MONEY ICON */
.money-icon {
    font-size: 36px;
}

/* REWARDS SECTION */
/* WRAPS THE rewards display and rewards nav */
.rewards-container{
    display: flex;
    flex-direction: row;
    position: absolute;
}

.rewards-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 120px;
    height: 500px;
    background: rgba(63, 63, 63, 0.3);
    border-radius: 0px 10px 10px 0px;
    margin-left: -1px;
    border: 2px solid black;
}

.rewards-nav-icon {
    text-transform: uppercase;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(63, 63, 63, 0.4);
    box-shadow: -10px 5px 10px rgba(63, 63, 63, 0.6);
    width: 80px;
    height: 80px;
    border-radius: 10px;
    transition: all 300ms ease-in-out;
}

.rewards-nav-icon:hover {
    box-shadow: -2px 3px 10px rgba(63, 63, 63, 0.6);
    transition: all 300ms ease-in-out;
}

.rewards-display {
    display: flex; 
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 700px;
    height:500px;
    border: 2px solid black;
    background: rgba(63, 63, 63, 0.3);
    z-index: 10;
    border-radius: 10px 0px 0px 10px;
    overflow: scroll;
}

.top-half {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.wager {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    margin-right: 30px;
}

.wager > button {
    width: 70px;
    margin-bottom: 5px;
}

/* DICE */

.dice-wrapper{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}
.dice-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    width: 350px;
    height: 370px;
    background: whitesmoke;
    border-radius: 10px 10px 0 0;
}
.dice-container input {
    margin: 2px;
}

.dice-wager{
    display: flex;
}
.dice-wager button{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 5px;
}
.dice-roll {
    width: 100px;
    height: 30px;
    border-radius: 10px;
    cursor: pointer;
}
.dice-prize-container{
    width: 350px;
    height: 100px;
    background: #f44336;
    border-radius: 0 0 10px 10px;
}

/* HL */
.hl-box{
    width: 500px;
    margin: 5px;
    height: 100px;
    background: whitesmoke;
    border: 1px solid gray;
    border-radius: 10px;
}

.hl-box-on{
    width: 500px;
    margin: 5px;
    height: 100px;
    background: red;
    border-radius: 10px;
    border: 1px solid gray;
}

.wager-box-hl{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 500px;
    height: 150px;
    border-radius: 10px;
    border: 2px solid goldenrod;
    background: whitesmoke;
}

.hl-btn {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: none;
    background: #4caf50;
}
.hl-wager-title{
    border: 1px solid black;
    border-radius: 10px;
}

.hl-wager-counter {
    display: flex;
    align-items: center;
    justify-content: center;
}

.hl-wager-wrapper {
    padding: 10px;
    border: 1px solid black;
    border-radius: 10px;
}
.hl-wager-container {
    display: flex;
    justify-content: center;
    align-items: center;
}