* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.play-modes-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.play-modes-container {
    display: flex;
}

.app-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.app {
    width: 1000px;
    height: 800px;
    border: 2px solid black;
}

img {
    height: 200px;
}

.navbar{
    background: red;
    width: 1000px;
    height: 50px;
}

.game-mode-container{
    display: flex;
    flex-direction: column;
    width: 700px;
    height:500px;
    border: 2px solid black;
    background: gray;
    position: absolute;
    z-index: 10;
}

/* Selecting a game menu */
.games{
    display: flex;
}

.game-wrapper {
    position: absolute;
    width: 1000px;
    height: 800px;
    background: red;
    z-index: 100;
}


